@{
    ViewBag.Title = "Home Page";
}

<div class="page-wrapper">
    <!--Body page---------------------------------------------------------------------->

    <div class="content">
        <a href="@Url.Action("Create", "Degrees")"><i class="fa fa-graduation-cap"></i> <span> Start App </span> </a>
    </div>
</div>


